// .header {
//     .nav {
//         &--menu {
//             display: none;
//         }
//     }
// }
.main-envio{
    padding-top: 2rem;
    height: 100vh;

   

    .envio{
          padding-top: 64px; 
           
        &-imagen{
            
            picture{
                display: inline-block;
               
                border-radius: 100px;
                padding: 12px;
                background: var(--color-amarillo);
                width: fit-content;
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &-info{
            margin: 40px 0;

            h2{
                font-family: var(--font-primaria-bold);
                @include text-lg-32;
                color:var(--color-azul300) ;
            }

            p{
                margin-top: 24px;
                @include text-sm-18;
            }
        }
        &-accion{
            a{
                text-decoration: none;
            }
        }
    }
}

.footer-envio{
    padding: 24px 0;
    background: var(--color-azul300);
    color: var(--color-blanco);
    font-family: var(--font-secundaria-regular);
   
        a{  
            display: inline-block;
            text-decoration: underline;
        }
        .year{
            @include text-sm-16;
        }
        .custom-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
}

@include media-breakpoint-up(xl) {
    .main-envio{
        min-height: 890px;
            .envio{

                &-info{
                  
        
                    h2{
                       
                        @include text-lg-36;
                       
                    }
        
                    p{
                        margin-top: 24px;
                        @include text-md-20;
                    }
                }
            }
    }
}