.main-home {
    .section-hero {
        background: var( --color-blanco);
        padding: var(--spacing05) 0;
    }

    .inversion{
            background: var(--color-azul100);
            padding: var(--spacing08) 0;
            border-radius: var(--radius-xl);
        
        &--info{

              h2{
                   text-align: center;
               }
              
               .title-underline {
                   place-items: center;
               }
               p{
                   margin: var(--spacing04) 0;
                   @include text-sm-18;
                   text-align: center;
               }
        }
       
        &--card{
            background: var(--color-azul300);
            padding: var(--spacing04);
            border-radius: var(--radius-lg);
            margin-bottom: 1.5rem;
            color:var(--color-blanco);            
            transition: all 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            #circulo-amarillo-1, 
            #circulo-amarillo-2,
            #circulo-amarillo-1-inversion,
            #circulo-amarillo-2-inversion, 
            #circle-blue,
            .estrella-1,
            .estrella-2,
            .moneda,.mano{
                 transition: all 1s ease-in-out;
             }

            .imagen{

                img,svg{

                    height: 5.125rem;
                    width: 5.25rem;
                }
                
            }

            .contenido{

                .titulo{
                    font-family: var(--font-primaria-bold);
                    @include text-md-24;
                }
                .subtitulo{
                    font-family: var(--font-primaria-bold);
                    @include text-sm-18;
                    margin: 8px 0;

                }
                .descripcion{
                    font-family: var(--font-secundaria-regular);
                    @include text-sm-16;
                    margin-bottom: 1rem; 
                }
                .enlace{
                    @include text-sm-16;
                    font-family: var(--font-secundaria-bold);
                }
            }
        }
        &--card:hover{
            cursor: pointer;
            background:var(--primary-extended-azul-500) ;

           
             #circulo-amarillo-1,#circulo-amarillo-2-inversion{
               
                r:7%;
            }
              #circulo-amarillo-2,#circulo-amarillo-1-inversion{
             
                r:3%;
            }
            #circle-blue{
                
                r:3%;
            }

             .moneda,.mano{
                transform: translateY(-15px);
            }
             .estrella-1{
              transform: scale(0.9);

            }
             .estrella-2{
              transform: scale(0.9);

            }
        }
    }
    
.promociones {
    padding: 4rem 0;
    overflow: hidden;

   
    .custom-container {
        padding: 0;
    }
   

    .row > div:first-child {
        // border: 1px solid red;
        padding-right: 36px;
        padding-left: 36px;
    }

    &--info {
        color: var(--color-azul300);
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .container-carrusel {
        margin-top: 42px;
        // padding-right: 0;
    }
    &--carrusel {
        flex-flow: row nowrap;
        align-items: center;
        overflow-x: scroll;
        height: 400px;
        & div:last-child {
            margin-right: 10px;
        }
    }
    
        
    
    &--card {
        background: var(--color-azul100);
        border-radius: 1.5rem;
        box-shadow: 0px 4px 48px 0px rgba(95, 171, 221, 0.16);
        position: relative;

        .card--badge {
            display: flex;
            gap: 4px;
            padding: 4px 8px;
            border-radius: 16px;
            background: var(--color-amarillo);
            color: var(--color-azul300);
            width: fit-content;
            position: absolute;
            left: 16px;
            top: -8px;

            .badge--desc {
                font-family: var(--font-primaria-bold);
                font-size: 14px;
                line-height: 14px;
            }
        }
        .card-body {
            padding: 32px 24px 0 24px;
        }
        .card-title {
            margin-bottom: 16px;
        }
        .card-text {
            height: 70px;
            font-family: var(--font-secundaria-regular);
            color: var(--color-pencil);
            font-size: 16px;
            line-height: 24px;
        }
        .card-link {
            font-family: var(--font-secundaria-bold);
            color: var(--color-azul300);
            display: inline-block;
            margin: 24px 0;
        }
        .card--img {
            width: 100%;
        }
     }
    }

    .simuladores{
        padding: var(--spacing08) 0;
        &--info{
            text-align: center;
            .title-underline{
                place-items: center;
                margin-bottom: 24px;
            }
            p{
                margin-bottom: 24px;
            }
        }
        .simuladores--cards{
            row-gap: 24px;
            a{
                text-decoration: none;
            }
        }
        .simulador-card{
            border-radius: 1rem;
            background: var(--color-azul300);
            box-shadow: var(--shadow-flotante);
            transition: all 0.3s ease-in-out;
            padding: 8px 16px;
            display: flex;
            gap:8px;
            // justify-content: space-between;
            align-items: center;
            
            
            .titulo{
                font-family: var(--font-primaria-bold);
                @include text-md-24; 
                color: var(--color-blanco);
            }
            .enlace{
                display: block;
                width: 100%;
                text-align: right;
               
            }
        }
        .simulador-card:hover{
            background: var(--primary-extended-azul-500);
            
        }
    }

    
}

@include media-breakpoint-up(lg) {
    .main-home {
        .promociones{
            .row > div:first-child{
                // border: 1px solid green;
                padding-left:64px;
                padding-right:64px;
            }
        }
    
    }
}

@include media-breakpoint-up(xl) {

    .main-home{

        .inversion{
            padding: var(--spacing10) 0;
            & .row:first-child{
                justify-content: center;
            }
            &--info{

                h2{
                    @include text-lg-48;
                 }               
                 
                 p{
                     margin: var(--spacing04) 0 var(--spacing08) 0;
                     @include text-md-20;
                     
                 }
            }
            &--card{            
              
                margin-bottom:0; 
                flex-direction: row;
                align-items: center;
                gap: 1.5rem;
    
                .imagen{
                        order: 2;
                        img,svg{
                            width: 185px;
                            height: 216px;
                        }
                }
    
                .contenido{
                        order: -1;
                        .titulo{
                            @include text-lg-32;
                        }
                   
                }
            }
        }
        
        .promociones {
            padding: 6rem 0;
    
            .custom-container{
                padding-left:96px;
                padding-right:96px;
            }
            .row > div:first-child{
             
                padding-left:12px;
                padding-right:12px;
            }
            &--info {
                font-size: 2.9375rem;
                line-height: 3.1875rem;
            }
            .container-carrusel {
                margin-top: -6.875rem;
            }
            &--carrusel {
                display: grid;
                gap: 2.5rem;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, 1fr);
                overflow-x: auto;
                height: auto;
    
                .col-xl-8 {
                    width: 100%;
                }
                div.col-xl-8:first-child {
                    padding-top: 8rem;
                }
                div.col-xl-8:last-child {
                    padding-bottom: 8rem;
                }
                div:nth-child(odd) {
                    grid-column: 2/4;
                }
                div:nth-child(even) {
                    grid-column: 4/6;
                }
            }
        }
        .simuladores{
            padding: 96px 0;
            &--info{
               
                h2{
                  @include text-lg-48;  
                }
                .title-underline{                    
                    margin-bottom: 24px;
                }
                p{
                    @include text-md-20;
                    margin-bottom: 64px;
                }
            }
            .simuladores--cards{
               
                justify-content: center;
            }
            .simulador-card{
               
                width: 278px;
                gap:0;               
               
                
                
                .titulo{
                   
                    @include text-md-24;                     
                }
                .enlace{
                    position: relative;
                    img{
                     position: absolute;
                     transition: all 0.7s ease-in-out;
                     left:5px;
                     top:-12px; 
                    }
                 }
                
            }
            
            .simulador-card:hover{
                .enlace{
                   img{                 
                    
                    left:22px;
                   
                   }
                }
            }
        }
       
        
        
        
    
    }
    
   
}