.main-pagare{
    overflow: hidden;
    #link-tyc{
        display: none;
    }
    .beneficios-template{
        margin-bottom: -40px;
        position: relative;
        z-index: 9;
        .subtitulo {           
            visibility: visible;
        }
        &--links{
            margin-top: 24px;

            a{
                font-family: var(--font-secundaria-bold);
                @include text-md-20;
                color: var(--color-azul300);
            }
        }

       
    }
    
    .inverion-formulario{
       
        padding: 96px 0 40px 0;
        background-color: var(--color-azul300);
        overflow: hidden;

        .headline{
           position: relative;
           margin-bottom: 2rem;

            &-title{
                h2{
                    @include text-lg-32;
                    font-family: var(--font-primaria-regular);
                  
                    color: var(--color-blanco);
                    span{
                        font-family: var(--font-primaria-bold);                        
                        color: var(--color-amarillo);
                    }
                }
    
                h2::after{
                    content: "";
                    display: block;
                    width: 40px;
                    height: 8px;
                    background: var(--color-amarillo);
                    margin: 24px 0;
                }
            }

            &-imagen{
                width: fit-content;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        @keyframes fade-in {
            0% {
                opacity: 0;
                // height: auto;
             
            } 
            100% {
                opacity: 1;
                /*  position: relative; */
                display: block;
                // left: 0;
            }
        }
        @keyframes fade-out {
             0% {
                opacity: 1;
                // height: auto;
             
            } 
            100% {
                // position: absolute;
                opacity: 0;
                display: none; 
                // top: 0;
                // left: 100%;
            }
        }
    
        .hide {
            display: none; 
            animation: fade-out 0.8s forwards;
        }
        .show {
            animation: fade-in 0.8s forwards;
        }
    
       
        // &--entrada.resultados{
        //     // transition: all 0.5s ease-in-out; 
        //     animation: fade-in 0.7s forwards;
        // }
        
    
       
    
        &--simulador {
            // border: 1px solid yellow;
            border-radius: 24px;
            background: var(--color-blanco);
            box-shadow: var(--shadow-blue);
            padding: 1.5rem;
            // transition: all 0.7s ease-in-out;             
    
            p {
                font-family: var(--font-primaria-bold);
                font-size: 1.125rem;
                line-height: 1.75rem;
                margin: 1rem 0 2.5rem 0;
            }
    
            label {
                font-family: var(--font-secundaria-regular);
                color: var(--neutral-gris-400);
                @include text-sm-16;
            }
            .captura-saldo {
                margin-bottom: 24px;
            }
            // input {
            //     border-radius: 8px;
            //     border: 1px solid var(--neutral-gris-300);
            //     margin-top: 4px;
            //     padding: 12px 16px;
            //     width: 100%;
            // }
            input[type="text"] {
              
                border-radius: 8px;
                border: 1px solid var(--neutral-gris-300);
                margin-top: 4px;
                padding: 12px 16px;
                width: 100%;
                &.error{
                    border: 1px solid var(--state-error-400) !important;
                    outline: 0;
                                
                }
                &.aprobado{
                    border: 1px solid var(--state-aprobacion-400) !important;
                    outline: 0;
                }
               
                &:focus-visible{
                    border: 2px solid var(--state-informacion-400) !important;
                    outline: 0;               
                }
                &:focus{
                    border: 2px solid var(--state-informacion-400) !important;
                    outline: 0;               
                }
            }

            select{
                border-radius: 8px;
                border: 1px solid var(--neutral-gris-300);
                margin-top: 4px;
                padding: 12px 16px;
                width: 100%;
            }

            .rango-valores {
                display: flex;
                flex-direction: row;
                justify-content: space-between; 
                width: 100%;              
                
                span{
                    flex-basis: 25%;
                }
                span:last-of-type{
                    text-align: end;
                }
            }
            .irs-grid-text {
                font-family: var(--font-secundaria-regular);
                font-size: 12px;
                line-height: 16px;
                color: var(--color-pencil);
            }
            .irs--round .irs-handle {
               
                border: 4px solid var(--color-azul300);
                background-color: var(--color-azul300);
                
            }
            .irs--round .irs-bar {
               
                background-color:var(--color-azul400);
                height: 8px;
            }
            .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
                display: none;
                background-color:var(--color-azul300);
                color: white;
                border-radius: 4px;
                font-family: var(--font-secundaria-regular);
            }
            .error {
                display: flex;
                gap: 8px;
                align-items: center;
                margin-top: 4px;
    
                p {
                    font-family: var(--font-secundaria-regular);
                    margin: 0;
                    @include text-sm-14;
                    color: var(--state-error-400);
                }
            }
           
            .advertencia {              
                margin-bottom: 24px;                  
               
                p {
                    margin: 0;
                    font-family: var(--font-secundaria-bold);
                    @include text-sm-16;
                    color: var(--color-azul300);
                }
            }
            
        }

        // &--simulador.border-movil{
        //     border-radius: 24px;
        // }
        &--simulador.resultados{
            border-radius: 24px 24px 0 0;
        }
        
    
        &--resultados {
            border-radius:  0px 0px 24px 24px;
            box-shadow: var(--shadow-blue);
            background: var(--color-azul100);
            display: flex;
            flex-direction: column;
            gap: 40px;
            
            .datos-entrada {
                border-radius: 24px 24px 0px 0px;
                padding: 24px;
                background: var(--main-colors-azul);
                
                &--periodo{
                    font-family: var(--font-primaria-bold);
                    @include text-sm-18;
                    margin-bottom: 8px;
                }
                &--monto{
                    font-family: var(--font-primaria-bold);
                    @include text-lg-32;
                    margin-bottom: 24px;
                }
                &--aclaracion{
                    font-family: var(--font-secundaria-regular);
                    @include text-sm-14;
                    margin-top: 1rem;
                }

                &--link{
                    font-family: var(--font-secundaria-bold);
                    @include text-sm-16;
                    margin-top:18px;
                    color:var(--color-azul300);
                }
               
                .grafico{
                    // margin-bottom: 24px;
                    &-info{
                        margin-top: 3.5rem;
                        position: relative;
                    }
    
                  
                  &-montos{
                    .monto-inicial{
                        font-family: var(--font-secundaria-regular);
                        @include text-xs-12;
                        position: absolute;
                        left: 0;
                        top:1.2rem;
                    }
                    .monto-final{
                        position: absolute;
                        right: 0;
                        top:-2.5rem;
                        p{
                            margin:0;
                            color: var( --color-azul300);
                        }
                        .titulo{
                            font-family: var(--font-secundaria-regular);
                            @include text-xs-12;
                        }
                        .cantidad{
                            font-family: var(--font-secundaria-bold);
                            @include text-sm-16;
                            text-decoration: underline;
                        }
                    }
                  }
                //   &-imagen{
                //     border: 1px solid red;
                //   }
    
                  &-rangos{
                    margin-top: 1rem;
                    display: flex;
                    justify-content: space-between;
                  }
                }
                
            }
    
            .detalles {
                padding: 0 24px 24px 24px;
                .detalle {
                   
                    &-descripcion {
                        font-family: var(--font-secundaria-regular);
                        @include text-sm-16;
                    }
                   
                    &-cantidad {
                        font-family: var(--font-primaria-bold);
                        @include text-sm-18;
                        margin-bottom: 1rem;
                    }
                    &-cantidad.fecha-vencimiento {
                        display: flex;
                        align-items: center;
                        column-gap: 2px;

                       
                        
                    }
                    
                    &-separador {
                        border: 1px solid var(--color-azul-5);
                        margin: 8px 0;
                    }
                }
            }
        } //calculadora-resultados
    
        &--fecha {
            margin-top: 1.5rem;
        }
    }
   
    // .requisitos{
    //     margin-top: -40px;
    //     position: relative;
    //     z-index: 9;
    // }
}

@include media-breakpoint-up(lg) {

    .main-pagare{

        .beneficios-template{
            &--cards .card {
                height: 175px;
            }
        }
        .inverion-formulario{
       
            padding: 96px 0 ;
            background-color: var(--color-azul300);
            overflow: hidden;
    
            .headline{
                justify-content: space-between;
                align-content: center;
                &-imagen{                    
                    position: static;
                }
            }

            &--formulario{
                text-align: left;
     
                .captura-saldo,.advertencia{
                 text-align: left;
                }
             }
             &--resultados{
                 .detalles{
                     .acciones{
                         text-align: center;
                     }
                 }
             }
            .alert--card{
                flex-direction: row;
                gap: 1rem;
            }

        
        }
    
    
    }
}

@include media-breakpoint-up(xl) {

    .main-pagare{
        .beneficios-template{
            &--cards .card {
                height: 254px;
            }
        }
        .inverion-formulario{
       
            padding: 96px 0 ;
           
          
    
            .headline{
                justify-content: space-between;
                align-content: center;
                &-title{
                    h2{

                        @include text-lg-48;
                    }
                }

                &-imagen{                    
                    position: static;
                    img{
                        width: 185px;
                        height: 216px;

                    }
                }
                
            }
            &--entrada.resultados{
                flex-basis:30%;//hacerlo con js 
                padding: 0;
                
            }
            &--salida.resultados{
                flex:3 0 auto;
                padding: 0;
            }
            &--simulador{
                padding: 32px 40px;
                height: 100%;
                p{
                    margin-top: 0;
                }
            }

            &--simulador.resultados{
                border-radius: 24px 0 0 24px;
            }

            &--resultados{
               flex-direction: row;
               border-radius: 0 24px 24px 0;
               padding: 64px 40px;
            //    transition: all ease-in-out 3s;
               .datos-entrada{
                flex-basis: 50%;
                padding:0;

                    &--aclaracion{
                        
                        margin-top: 1.5rem;
                    }
               }
               .detalles{
                flex-basis: 50%;
                padding:0;

                    .detalle{
                        &-separador {
                           
                            margin: 1rem 0;
                        }
                    }
               }
               
            }

        }
    
    
    }
}