 .tooltip.custom-tooltip{
    --bs-tooltip-border-radius: 16px; 
    --bs-tooltip-font-size: 14px;
    --bs-tooltip-bg: var(--color-blanco);
    --bs-tooltip-color: var(--bs-white);
    --bs-tooltip-padding-y:  16px;            
    --bs-tooltip-padding-x: 16px;
      
     
      
}
// .tooltip-arrow::before{
//     display: none;
// }
.tooltip-inner{
    border-radius: 8px;
    padding: 10px;
    background: var(--neutral-gris-600);
    display: flex;
    gap: 4px;
    align-content: center;
    justify-content: space-between;
    img{
        width: auto;
       
    }
    p{
        font-family: var(--font-secundaria-regular);   
        font-size: 14px;
        line-height: 22px;
        color: #fff;
    }
   
}